<div class="container">
  <div class=" text-center mt-5 mb-4">
    <h1>List of Topics</h1>
  </div>

  <div class="card bg-light d-flex flex-column justify-content-center">
    <div class="card-head d-flex">
      <div style="width: 55%">#Topic</div>
      <div style="width: 25%; text-align: center">#Field</div>
      <div style="margin-left: 20px">#Participants</div>
    </div>
    <div *ngFor="let topic of topicList" class="topic-item d-flex align-items-center">
      <div class="topic-avatar">
        <img src="../../../assets/topic.jpg" alt="Topic img">
      </div>
      <div class="topic-details">
        <a class="topic-name" (click)="getTopicChat(topic)">{{topic.name}}</a>
        <p>{{topic.description}}</p>
      </div>
      <div class="topic-field text-center">
        <p>{{topic.field}}</p>
      </div>
      <div class="topic-participants text-center flex-grow-1">
        <p>{{topic.participants.length}}</p>
      </div>
    </div>
  </div>
</div>
