.card
  width: 80%
  margin: 0 auto
  padding: 2rem 3rem

.topic-item
  background-color: #fff
  border-radius: 10px
  width: 100%
  padding: 1rem 0.5rem
  margin-bottom: 1rem

.topic-avatar img
  width: 50px
  height: 50px
  border-radius: 50%
  margin: 0 1rem

.topic-details
  width: 50%

.topic-field
  width: 20%

.topic-name
  color: #0062cc
  font-weight: bold
  font-size: 1.2rem
  cursor: pointer

.topic-details p
  color: gray
  font-size: 1rem

.card-head
  width: 100%
  font-weight: bold
  font-size: 1.1rem
  margin-bottom: .5rem
