h1
  margin-bottom: 40px

label
  color: #333
  font-weight: bold

.btn-send
  font-weight: 300
  text-transform: uppercase
  letter-spacing: 0.2em
  width: 70%
  position: relative
  left: 50%
  transform: translateX(-50%)
  margin-top: 1.5rem

.card
  width: 500px
  margin: 0 auto
  padding: 2rem 3rem

.form-group:nth-child(1)
  margin-top: 0

.form-group
  margin-top: 1rem
