<div class="container">
  <div class=" text-center mt-5 ">
    <h1>Create Topic</h1>
  </div>
  <div class="card bg-light d-flex flex-column justify-content-center">
    <form [formGroup]="createForm" (ngSubmit)="onCreate()">
      <div class="form-group d-flex flex-column">
        <label for="name">Name</label>
        <input class="form-control" type="text" id="name" placeholder="Name" formControlName="topicName">
      </div>
      <div class="text-alert">
        <div *ngIf="topicName?.invalid && topicName?.touched" class="text-danger">
          <div *ngIf="topicName?.errors?.required">
            This field is required.
          </div>
          <div *ngIf="topicName?.errors?.minlength">
            Name must be at least 4 characters long
          </div>
        </div>
      </div>
      <div class="form-group d-flex flex-column">
        <label for="field">Field</label>
        <input class="form-control" type="text" id="field" placeholder="Field" formControlName="topicField">
      </div>
      <div class="text-alert">
        <div *ngIf="topicField?.invalid && topicField?.touched" class="text-danger">
          <div *ngIf="topicField?.errors?.required">
            This field is required.
          </div>
          <div *ngIf="topicField?.errors?.minlength">
            Field name must be at least 3 characters long
          </div>
        </div>
      </div>
      <div class="form-group d-flex flex-column">
        <label for="desc">Description</label>
        <textarea class="form-control" id="desc" placeholder="Description" formControlName="topicDescription"></textarea>
      </div>
      <div class="text-alert">
        <div *ngIf="topicDescription?.invalid && topicDescription?.touched" class="text-danger">
          <div *ngIf="topicDescription?.errors?.required">
            This field is required.
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-dark btn-send">Create</button>
    </form>
  </div>
</div>
