.usr-profile
  padding: 4rem 7rem

.profile-img
  text-align: center
  img
    width: 100%
    height: 100%

.profile-head
  h5
    color: gray
    font-size: 1rem
  h4
    font-weight: bold
    font-size: 2rem


.profile-head .nav-tabs
  margin-bottom: 20px

  .nav-link
    font-weight: 600
    border: none

    &.active
      border: none
      border-bottom: 2px solid #0062cc

.profile-list
  font-size: 1rem
  p
    font-size: 1rem
    color: #818182
    font-weight: 600
    margin-top: 10%

  a
    text-decoration: none
    color: #495057
    font-weight: 600
    font-size: 1rem

  i
    margin: 0 .5rem



.profile-box
  width: 700px
  margin-left: 3rem

.profile-box nav
  padding-bottom: 10px!important

.info-item
  font-size: 1.1rem
  font-weight: 600

  p.info
    color: #0062cc
  p.label
    color: gray
