<script src="profile.component.ts"></script>
<div class="usr-profile d-flex">
  <div class="d-flex flex-column" style="width: 300px">
    <div class="profile-img">
      <img src="../../../assets/avatar.jpg" alt="User-image"/>
    </div>
    <div class="profile-list">
      <p>SOCIAL MEDIA</p>
      <div class="d-flex flex-column align-items-start">
        <a href="">
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
          <span>Facebook</span>
        </a>
        <a href="">
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <span>Instagram</span>
        </a>
        <a href="">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          <span>Linkedin</span>
        </a>
      </div>
    </div>
  </div>

  <div class="profile-box d-flex flex-column">
    <div class="profile-head">
      <div class="d-flex justify-content-between">
        <h4>{{username}}</h4>
        <button class="btn btn-dark" name="editProfile">Edit Profile</button>
      </div>
      <h5>Live Chat User</h5>
      <ul class="nav nav-tabs mt-4">
        <li class="nav-item">
          <a class="nav-link active" aria-selected="true">About</a>
        </li>
      </ul>
    </div>

  <div class="profile-info d-flex">
    <div class="d-flex flex-column" style="margin-right: 5rem">
      <div class="info-item">
        <p class="label">User Name</p>
      </div>
      <div class="info-item">
        <p class="label">Email</p>
      </div>
      <div class="info-item">
        <p class="label">Birthdate</p>
      </div>
    </div>

    <div class="d-flex flex-column">
      <div class="info-item">
        <p class="info">{{username}}</p>
      </div>
      <div class="info-item">
        <p class="info">{{email}}</p>
      </div>
      <div class="info-item">
        <p class="info">{{birthdate}}</p>
      </div>
    </div>
  </div>
  </div>
</div>
