<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid container">
    <a class="navbar-brand" routerLink="/">Live Web Chat</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">How it works</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Resources</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item">Help Center</a></li>
            <li><a class="dropdown-item">Community</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item">Contact</a></li>
          </ul>
        </li>
      </ul>
      <div class="auth">
        <button class="btn btn-primary" routerLink="/login">Log In</button>
        <button class="btn btn-danger"routerLink="/register">Sign Up</button>
      </div>
    </div>
  </div>
</nav>
