.sidebar
  width: 250px

@media (max-width: 575px)
  .sidebar
    width: fit-content

.sidebar-item
  color: #fff

.sidebar-item:hover
  color: aqua

.sidebar-divider
  width: 100%
  height: 2px
  border-radius: 15px

.space
  padding-right: 5px

.nav-item i
  font-size: 1.2rem

.user-menu
  cursor: pointer

.user-menu span
  padding-left: 5px

.user-menu:hover > span
  color: aqua

a
  cursor: pointer
