<div class="sidebar bg-dark">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <p class="d-flex align-items-center pb-2 pt-2 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-4 d-none d-sm-inline brand-name">Live Web Chat</span>
        </p>
        <hr class="sidebar-divider">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li class="nav-item">
            <a routerLink="./profile" class="nav-link d-flex align-items-center px-0 sidebar-item">
              <i class="bi bi-person-fill space"></i>
              <span class="ms-1 d-none d-sm-inline">Profile</span>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="./create" class="nav-link px-0 d-flex align-items-center sidebar-item">
              <i class="bi bi-plus-square space"></i>
              <span class="ms-1 d-none d-sm-inline">Create a Topic</span>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="./topic" class="nav-link px-0 d-flex align-items-center sidebar-item">
              <i class="fs-4 bi-list space"></i>
              <span class="ms-1 d-none d-sm-inline">Topic List</span></a>
          </li>
          <li class="nav-item">
            <a routerLink="./chat" class="nav-link px-0 d-flex align-items-center sidebar-item">
              <i class="fa fa-weixin space" aria-hidden="true"></i>
              <span class="ms-1 d-none d-sm-inline">Active Session</span> </a>
          </li>
        </ul>
        <hr>
        <div class="dropdown pb-4">
          <a class="d-flex align-items-center text-white text-decoration-none dropdown-toggle user-menu" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../../../assets/user-profile.png" alt="user-image" width="30" height="30" class="rounded-circle">
            <span class="d-none d-sm-inline mx-1 space">{{username}}</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser">
            <li><a class="dropdown-item" routerLink="./profile">Settings</a></li>
            <li><a class="dropdown-item" routerLink="./profile">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item"  (click)="onLogoutClick()">Log out</a></li>
          </ul>
        </div>
      </div>
</div>
