.card-body
  width: 500px
  padding: 0 50px

.card
  margin-top: 100px

.card-title
  margin-bottom: 15px

form > .form-group
  margin: 7px 0

.alert-popup
  position: absolute
  width: fit-content
  right: 2rem
  top: 5rem
