<script src="login.component.ts"></script>
<header>
  <app-navbar></app-navbar>
</header>

<div class="container d-flex justify-content-center">
  <div class="card bg-light">
    <article class="card-body mx-auto">
      <h4 class="card-title mt-3 text-center">Log In to your Account</h4>
      <form class="d-flex flex-column align-items-center" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
        <div class="form-group input-group">
          <input name="login" class="form-control" placeholder="Username" type="text" formControlName="username">
        </div>
        <div class="text-alert">
          <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="text-danger">
            <div *ngIf="username?.errors?.required">
              This field is required.
            </div>
          </div>
        </div>
        <div class="form-group input-group">
          <input name="password" class="form-control" placeholder="Password" type="password" formControlName="password">
        </div>
        <div class="text-alert">
          <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="text-danger">
            <div *ngIf="password?.errors?.required">
              This field is required.
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Log In</button>
        </div>
        <p class="text-center" style="margin-top: 15px; margin-bottom: 5px">Don't have an account? <a routerLink="/register">Sign In</a> </p>
        <p class="text-center"><a routerLink="/reset-page">Forgot Password</a> </p>
      </form>
    </article>
  </div>
</div>
