.card-body
  width: 500px
  padding: 0 50px

.card
  margin-top: 100px

form > .form-group
  margin: 7px 0

.text-alert
  font-size: 0.9rem

.alert-popup
  position: absolute
  width: fit-content
  right: 2rem
  top: 5rem
