<header>
  <app-navbar></app-navbar>
</header>

<div class="container d-flex justify-content-center">
  <div class="card bg-light">
    <article class="card-body mx-auto">
      <h4 class="card-title mt-3 text-center">Create Account</h4>
      <p class="text-center">Get started with your free account</p>
      <form class="d-flex flex-column align-items-center" method="post" [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
        <div class="form-group input-group">
          <input class="form-control" name="username" placeholder="Choose an username" type="text" formControlName="username">
        </div>
        <div class="text-alert">
          <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="text-danger">
          <div *ngIf="username?.errors?.required">
            Username is required.
          </div>
          <div *ngIf="username?.errors?.minlength">
            Username must be at least 6 characters long
          </div>
            <div *ngIf="username?.errors?.maxlength">
              Username must be maximum 25 characters long
            </div>
          </div>
        </div>
        <div class="form-group input-group">
          <input name="email" class="form-control" placeholder="Email address" type="email" formControlName="email">
        </div>
        <div class="text-alert">
          <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="text-danger">
            <div *ngIf="email?.errors?.required">
              Email is required
            </div>
            <div *ngIf="email?.errors?.email">
              Must be a valid email address
            </div>
          </div>
        </div>
        <div class="form-group input-group">
          <input name="birthdate" class="form-control" placeholder="Date of Birth" type="text" onfocus="(this.type='date')" formControlName="birthdate">
        </div>
        <div class="text-alert">
          <div *ngIf="birthdate?.invalid && (birthdate?.dirty || birthdate?.touched)" class="text-danger">
            <div *ngIf="birthdate?.errors?.required">
              Birthdate is required
            </div>
            <div *ngIf="birthdate?.errors?.pattern">
              Must be a valid date in format mm/dd/yyyy
            </div>
          </div>
        </div>
        <div class="form-group input-group">
          <input name="password" class="form-control" placeholder="Create password" type="password" formControlName="password">
        </div>
        <div class="text-alert">
          <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="text-danger">
            <div *ngIf="password?.errors?.required">
              Password is required
            </div>
            <div *ngIf="password?.errors?.minlength">
              Password must be at least 8 characters long
            </div>
            <div *ngIf="password?.errors?.maxlength">
              Password must be maximum 24 characters long
            </div>
          </div>
        </div>
        <div class="form-group input-group">
          <input name="confirmPassword" class="form-control" placeholder="Repeat password" type="password" formControlName="confirmPassword">
        </div>
        <div class="text-alert">
          <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)" class="text-danger">
            <div *ngIf="confirmPassword?.errors?.required">
              This field is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Create Account</button>
        </div>
        <p class="text-center">Have an account? <a routerLink="/login">Log In</a> </p>
      </form>
    </article>
  </div>
</div>
