<header>
  <app-navbar></app-navbar>
</header>

<div class="container container-fluid d-flex justify-content-between align-items-center">
  <div class="text-content">
    <h1 class="header">Get started with our free Live Web Chat</h1>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolorum eius eligendi illum,
      inventore iste libero minus, necessitatibus neque nostrum numquam officia omnis perferendis quaerat quidem ratione rerum vel voluptatem?</p>
    <button class="btn btn-dark" routerLink="/register">Get Started</button>
  </div>
  <div class="picture-block">
    <img src="../../../assets/chat.png" alt="Chat" class="img-fluid">
  </div>
</div>
