.chat-box-content
  overflow-y: auto

.chat-img
  margin-right: 20px

.chat-box
  height: 100vh

.chat-box > div
  width: 100%

.chat-message-box
  margin-top: .7rem

.chat-message-right
  text-align: right

.message-txt
  width: fit-content

  margin-top: .5rem
  color: #fff

.msg-right
  margin-left: auto

.burger
  display: flex
  justify-content: center
  align-items: center
  width: 50px
  height: 50px
  border: none
  background-color: transparent
  background-size: cover

.burger i
  font-size: 30px

.topicName
  font-size: 1.2rem

.form-group input
  height: 100%

