<div class="chat-box d-flex align-items-start flex-column flex-nowrap">
  <div class="chat-box-header px-5 py-3 d-flex border-bottom mb-auto">
    <div class="chat-img position-relative">
      <img src="../../../assets/topic.jpg" class="rounded-circle" alt="Topic" width="50" height="50">
    </div>
    <div class="chat-head-details flex-grow-1">
      <strong class="topicName">{{topicName}}</strong>
      <div class="text-muted small">{{description}}</div>
    </div>
    <div>
      <button class="btn btn-light burger">
        <i class="fa fa-align-justify" aria-hidden="true"></i>
      </button>
    </div>
  </div>

  <div class="chat-box-content px-5 py-3">
    <ng-container *ngFor="let message of messageList">
      <div class="chat-message-box">
        <!--Other users-->
        <div *ngIf="message.from !== this.user.getUserData().username" class="msg-user-info d-flex f-row align-items-center">
          <img src="../../../assets/avatar.png" class="rounded-circle" alt="Stanley Cooper" width="38" height="38">
          <div class="mx-3">
            <span class="font-weight-bold my-auto">{{message.from}}</span>
            <div class="text-muted small text-nowrap">{{message.created | date: 'medium'}}</div>
          </div>
        </div>
        <!--Current user-->
        <div *ngIf="message.from == this.user.getUserData().username" class="msg-user-info d-flex f-row align-items-center justify-content-end">
          <div class="chat-message-right mx-3">
            <span class="font-weight-bold my-auto">{{message.from}}</span>
            <div class="text-muted small text-nowrap">{{message.created | date: 'medium'}}</div>
          </div>
          <img src="../../../assets/avatar.png" class="rounded-circle" alt="Stanley Cooper" width="38" height="38">
        </div>
        <!--Other users-->
        <div *ngIf="message.from !== this.user.getUserData().username" class="message-txt flex-shrink-1 bg-dark rounded py-2 px-3">{{message.text}}</div>
        <!--Current user-->
        <div *ngIf="message.from == this.user.getUserData().username" class="message-txt msg-right flex-shrink-1 bg-dark rounded py-2 px-3">{{message.text}}</div>
      </div>
    </ng-container>
  </div>

  <div class="chat-box-input flex-grow-0 px-5 py-3 border-top">
    <form class="d-flex" [formGroup]="sendForm" (ngSubmit)="onSendMessage()">
      <div class="form-group input-group flex-grow-1">
        <input class="form-control" name="message" type="text" placeholder="Type your message" autofocus formControlName="messageContent">
      </div>
      <button [disabled]="sendForm.invalid" type="submit" class="btn btn-dark">Send</button>
    </form>
  </div>

</div>
